h1 {
  color: rgb(217, 217, 229); 
  font-size: 30px;
}

h2 {
  color: rgb(217, 217, 229); 
  font-size: 28px;
}

h3 {
  color: rgb(217, 217, 229); 
  font-size: 26px;
}
h4 {
  color: rgb(217, 217, 229); 
  font-size: 24px;
}
h5 {
  color: rgb(217, 217, 229); 
}

p {
  color: #f6f6f4;
  font-size: 16px;
  line-height: 1.5; 
}

.btn-group {
  display: flex;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;

  color: #fff;
  text-align: center;
  text-decoration: none;

  transition: transparent 0.3s;
}

.btn-danger {
  background-color: #33ba1e;
}

.btn-warning {
  background-color: #f0ad4e;
}

.btn-success {
  background-color: #d72421;
}

.btn:hover {
  background-color: #333; 
}
